h1 {
  text-align: center;
}

body {
  background-color: cadetblue;
}
style {
  display: none;
}
fieldset {
  background-color: antiquewhite;
  text-align: center;
  font-family: Athelas, serif;
  font-size: larger;
}

h1 {
  font-family: Athelas, serif;
}

h2 {
  text-align: center;
  font-family: Athelas, serif;
}


